

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.filter{
    margin-left: 1%;
    padding: 3%;
    position: sticky;
    top: 10vh;
    background-color: whitesmoke;
    width: 25%;
    height: 80vh;
    border-radius: 5%;
    text-align:left;
    
}

.iteams{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    padding: 3%;

}

.tv{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5vh;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 5px;
}

.price{
    margin-left: auto;
}

.info{
    
}


.deal{
    color: red;
}
body{
    background-image: url("bg-g2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{

    width: 40px;
    height: 40px;
}
.active{
    position: relative;
    right: 0px;
}

h1{
    width: 100%;
    font-size: 40px!important;
    font-weight: bolder!important;
    
}
h2{
    font-size: 30px!important;
}
h3{
    font-size: 25px!important;
}
p{
    margin: 0%!important;
    padding: 0%!important;
    font-weight: 500    ;
}
button {
  all: unset;
  width: 100%;
  color: green;
  bottom: 0px;  
  font-size: 20px!important;
  position: relative;
  left: 0;
  bottom: 0;
}

button:focus {
  outline: revert;
}